@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500,900);
$defaultFont:"Roboto";
$defaultMargin:2%;
$elementWidth:99%;
$imageWidth:12%;
$imageHeight:12%;
$statusColor:#ff477c;
$successColor:darkgreen;
$errorColor:red;
$opacity:0.6;

.componentContainer{
  display:flex;
  width:55vw;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  font-family: $defaultFont, sans-serif;
  background-color: #fff;
}

#dropText{
  text-align: center;
  align-self:center;
  margin:25%;
  color:darkslategrey;
}

.fileSelector {
  height:20px;
  width:150px;
  font-size:medium;
  color: transparent;
  align-self: center;
  margin:$defaultMargin;
}

.messageHolder{
  @extend .componentContainer;
  min-height:10vh;
  max-width:95%;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  font-size:small;
  margin:$defaultMargin;
  background-color:$statusColor;
  display:none;
}

.messageHolderVisible{
  @extend .messageHolder;
  display:inline;
}

.dropfileshere{
  display: flex;
  flex-direction: column;
  flex:1;
  min-height:70vh;
  width:$elementWidth;
  justify-content: flex-start;
  align-items:flex-start;
  text-align: center;
  font-size:xx-large;
  font-weight: 500;
  font-family: $defaultFont, serif;
  background-color:#f1f1f1;
}

.dropfileshereNoColor{
  @extend .dropfileshere;
  background-color:#fff;
}


.filePreviewAndProgress
{
  display: flex;
  height:$imageHeight;
  width:$elementWidth;
  flex-direction:row;
  justify-content:flex-start;
  font-size:medium;
  //padding:$defaultMargin;
  padding:3%;
}

section{
  text-align:left;
  // margin-left:$defaultMargin;
  margin-left:12%;
  color:black;
  width:70%;
}
section:first-line{
  font-weight:700;
}

.previewImageContainer{
  display:flex;
  height: $imageHeight;
  width: $imageWidth;
  margin:0px;
}

.previewImage{
  height: $imageHeight;
  width: $imageWidth;
  z-index: 0;
  position: absolute;
}

.progressBar[value] {
  -webkit-appearance: none;
  appearance: none;
  width: $imageWidth;
  height:$imageHeight;
  z-index:2;
  position: absolute;
}

progress[value]::-webkit-progress-value {
  background-color: $statusColor;
  opacity:$opacity+0.4;
}

progress[value]::-webkit-progress-bar {
  background-color: #f5b3b4;
  opacity:$opacity;
}

.progressVal {
  text-align:center;
  align-self:center;
  position: absolute;
  z-index:3;
  color:#fff;
  // margin:$defaultMargin;
  margin:1%;

}

.elementHide {
  display:none;
}

p{
  margin:0px;
  text-overflow:ellipsis;
  overflow:hidden;
}

.successStatusMsg{
  color:$successColor;
}

.errorStatusMsg{
  color:$errorColor;
}