@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500,900);
.componentContainer, .messageHolder, .messageHolderVisible {
  display: flex;
  width: 55vw;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: #fff; }

#dropText {
  text-align: center;
  align-self: center;
  margin: 25%;
  color: darkslategrey; }

.fileSelector {
  height: 20px;
  width: 150px;
  font-size: medium;
  color: transparent;
  align-self: center;
  margin: 2%; }

.messageHolder, .messageHolderVisible {
  min-height: 10vh;
  max-width: 95%;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  font-size: small;
  margin: 2%;
  background-color: #ff477c;
  display: none; }

.messageHolderVisible {
  display: inline; }

.dropfileshere, .dropfileshereNoColor {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 70vh;
  width: 99%;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  font-size: xx-large;
  font-weight: 500;
  font-family: "Roboto", serif;
  background-color: #f1f1f1; }

.dropfileshereNoColor {
  background-color: #fff; }

.filePreviewAndProgress {
  display: flex;
  height: 12%;
  width: 99%;
  flex-direction: row;
  justify-content: flex-start;
  font-size: medium;
  padding: 3%; }

section {
  text-align: left;
  margin-left: 12%;
  color: black;
  width: 70%; }

section:first-line {
  font-weight: 700; }

.previewImageContainer {
  display: flex;
  height: 12%;
  width: 12%;
  margin: 0px; }

.previewImage {
  height: 12%;
  width: 12%;
  z-index: 0;
  position: absolute; }

.progressBar[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 12%;
  height: 12%;
  z-index: 2;
  position: absolute; }

progress[value]::-webkit-progress-value {
  background-color: #ff477c;
  opacity: 1; }

progress[value]::-webkit-progress-bar {
  background-color: #f5b3b4;
  opacity: 0.6; }

.progressVal {
  text-align: center;
  align-self: center;
  position: absolute;
  z-index: 3;
  color: #fff;
  margin: 1%; }

.elementHide {
  display: none; }

p {
  margin: 0px;
  text-overflow: ellipsis;
  overflow: hidden; }

.successStatusMsg {
  color: darkgreen; }

.errorStatusMsg {
  color: red; }
